<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-商品列表</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script src="/static/js/jquery-1.12.4.min.js"></script>
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				<div class="login_info fl">
					欢迎您：<em>张 山</em>
				</div>
				<div class="login_btn fl">
                    {% if request.session.LOGIN_LOCAL_FLAG %}
                        <span>欢迎你: {{ request.session.LOGIN_LOCAL_FLAG.name }}</span>
                        <a href="/logout">退出登陆</a>
                    {% else %}
                        <a href="/login">登录</a>
                        <span>|</span>
                        <a href="/register">注册</a>
                    {% endif %}
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="/user_center_info">用户中心</a>
					<span>|</span>
					<a href="/cars">我的购物车</a>
					<span>|</span>
					<a href="/orders/1">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="/index" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品" onchange="findGoods(this)">
			<input type="button" class="input_btn fr" name="" value="搜索" id="find">
		</div>
		<div class="guest_cart fr">
			<a href="/cars" class="cart_name fl">我的购物车</a>
            <div class="goods_count fl" id="show_count">
                 {% if request.session.LOGIN_LOCAL_FLAG %}
                     <span id="span1">{{ counts }}</span>
                 {% else %}
                     0
                 {% endif %}
            </div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>			
				<ul class="subnav">
					<li><a href="/chooseone/1/1" class="fruit">新鲜水果</a></li>
					<li><a href="/chooseone/2/1" class="seafood">海鲜水产</a></li>
					<li><a href="/chooseone/3/1" class="meet">猪牛羊肉</a></li>
					<li><a href="/chooseone/4/1" class="egg">禽类蛋品</a></li>
					<li><a href="/chooseone/5/1" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/chooseone/6/1" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/index">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					<li>
						<a href="#"><img src="/static/images/goods/goods001.jpg"></a>
						<h4><a href="#">进口柠檬</a></h4>
						<div class="prize">￥3.90</div>
					</li>
					<li>
						<a href="#"><img src="/static/images/goods/goods002.jpg"></a>
						<h4><a href="#">玫瑰香葡萄</a></h4>
						<div class="prize">￥16.80</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="#" class="active">默认</a>
				<a href="#">价格</a>
				<a href="#">人气</a>
			</div>

			<ul class="goods_type_list clearfix">

            {% for foos in one %}
                    <li>
					<a href="/detail/{{ foos.id }}"><img src="{{ foos.photo }}"></a>
					<h4><a href="/detail/{{ foos.id }}">{{ foos.name }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ foos.price }}</span>
						<span class="unit">{{ foos.price }}/500g</span>
						<a href="" class="add_goods" title="加入购物车" onclick="addCar({{ foos.id }})"></a>
					</div>
				</li>
            {% endfor %}
			</ul>

			<div class="pagenation">
				{% if one.has_previous %}
                    <a href="/chooseone/{{ status }}/{{ one.previous_page_number }}">&lt;上一页</a>
                {% else %}
                    <a href="javascript:void(0)">&lt;上一页</a>
                {% endif %}
                {% for i in ran %}
                    <a href="/chooseone/{{ status }}/{{ i }}" class="active">{{ i }}</a>
                {% endfor %}
                {#            <a href="#">2</a>#}
                {#            <a href="#">3</a>#}
                {#            <a href="#">4</a>#}
                {#            <a href="#">5</a>#}
                {% if one.has_next %}
                    <a href="/chooseone/{{ status }}/{{ one.next_page_number }}">&gt;下一页></a>
                {% else %}
                    <a href="javascript:void(0)">&gt;下一页></a>
                {% endif %}
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>

<script type="text/javascript">
    function findGoods(tag) {
        let goods_name = tag.value;
        $.ajax({
            url: "/find_goods",
            data: {"name": goods_name},
            method: "POST",
            dataType: 'json',
            success: function (data) {
                if (!data.status) {
                    alert(data.message)
                }
                $("#find").on("click",function () {
                    window.location.href = `/detail/${data.goods.id}`
                })
            }
        })
    }

    function addCar(pk) {
        $.ajax({
            url:"/cars_add",
            data: {"pk":pk},
            method: "post",
            dataType: "json",
            success:function (data) {
                if(!data.status){
                    alert(data.message)
                    $("#span1").text(data.num)
                }
            }
        })

    }
</script>
</body>
</html>